<div class="container">
  <div class="header">
    <img class="coctail-img" src="../assets/coctail.svg" >
    <h1>Coctail</h1>
  </div>
  <div class="search">
    <mat-form-field class="search-field" appearance="fill">
      <mat-label>Find coctail</mat-label>
      <input #cocktailInput (keyup.enter)="getCocktail(cocktailInput.value)" matInput placeholder="Margarita">
    </mat-form-field>
  </div>
  <div class="coctail-list">
    <ul *ngIf="cocktails;else noCocktails">
      <li (click)="openDialog(cocktail)" *ngFor="let cocktail of cocktails">{{cocktail.strDrink}}</li>
    </ul>
    <ng-template #noCocktails>
      <p>No cocktails found</p>
    </ng-template>
  </div>
</div>
